<html>
<head>
<title>Help</title>
</head>
<body>
<br>
<p style="font-size:15px">Welcome to VADEMOS, Vaccine Demand Estimation Model of Foot-and-Mouth disease (FMD). The tool will generate default values for the input parameters, for the selected country and year. Modify these values as you see fit, particularly if you have more up-to-date national data. It can also be used to simulate different control strategies and livestock population demographics if required. There is a simple step-by-step guide to follow.<br><br>
<br>
<h4><b>STEP 1</b></h4>
Please select a Region, Subregion or Country and Year <br><br>
<br>
<h4><b>STEP 2</b></h4>
<h5><b>FMD schedules</b></h5>
This is the number of vaccine doses the selected country would typically give for youngstock1 and adult stock for each livestock category and age group (youngstock1 or adult stock). You may wish to adjust this if you are using a single dose strategy or if your youngstock require a primary vaccination course.
<br><br>
This is the proportion of youngstock1 for large ruminants*, small ruminants** and pigs. Drag the cursor to change. Note: these proportions are only applicable to that species so it does not need to equal 100%. If youngstock proportion data is not available, 25% is given as a place holding value. 
<br>
*Large ruminants = cattle
<br>
**Small ruminants = sheep & goats
<br>
<sup>1</sup>Youngstock are those animals which are below 1 year of age.
<br><br>
<h5><b>Sector proportion</b></h5>
This is the proportion of the large ruminant population which are in the dairy, beef and smallholder sectors within the selected country. As default, the number of slaughtered cattle for milk and meat production from FAOSTAT has been used as proxy to calculate each sector proportions. Drag the cursor to change (must equal 100%). <br><br>
<h4><b>STEP 3</b></h4>
Estimated values for PCP stage, livestock population and total outbreaks are displayed in a table for the years selected. Double click any cell to adjust parameter values. Graphs are provided for better visualisation of results.  
<b>PCP stage</b> prediction is based on roadmap meetings held with the chosen country. These predictions can be changed for each year. Values relating to PCP can be adjusted in Step 4.
<br><br>
<h5><b>Pop_LR, Pop_SR, Pop_P</b></h5>
Based on the livestock census from 2011-2019, future values until 2030 are generated by a lognormal regression.<br>
* Pop_LR: Population of large ruminants<br>
* Pop_SR: Population of small ruminants<br>
* Pop_P: Population of pigs
<br><br>
<h5><b>TotalOutbreaks</b></h5>
Previous FMD outbreak numbers were collated from WOAH WAHIS and national statistical databases. Future outbreak numbers are modeled based on these values with poisson regression.  
<br>
Note: outbreak data is based on in country reporting and data collection, countries in lower PCP stages are therefore less likely to have as much FMD surveillance as those in the higher stages.  
<br><br>
<h5><b>VaccinationArea</b></h5>
This is the radius (in km) of emergency vaccination areahis is the radius (km) of the emergency vaccination area. Livestock are vaccinated if they are within 10km2 of an outbreak, as recommended by the EU directive 2003/85/EC. This cannot be adjusted currently. 
<br><br>
<h4>STEP 4</h4>
<h5><b>PCP stage</b></h5>
This is the predicted PCP stage for the selected year and country. It can be changed by clicking on an alternative number.
<br><br>
<h5><b>% of livestock most likely covered by prophylactic vaccination</b></h5>
<br>
This is the proportion of cattle which will be covered with routine vaccination i.e. receive the full vaccine dose schedule.
<br><br>
<h5><b>% of FMD outbreaks covered by emergency vaccination</b></h5>
<br>
This is the proportion of the total FMD outbreaks which will be covered with emergency vaccination.
<br><br>
</p>

<p style="font-size:15px">
    <a href="https://www.fao.org/contact-us/terms/db-terms-of-use/en">Statistical Database Terms of Use</a>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/"><img title="This work is made available under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO license (CC BY-NC-SA 3.0 IGO; https://creativecommons.org/licenses/by-nc-sa/3.0/igo). In addition to this license, some database specific terms of use are listed: Terms of Use of Datasets." style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/igo/88x31.png"></a>
</p>

</body>
</html>
