<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }
        
        h3 {
            color: green;
        }
        
        .container {
            display: flex; /* Use flexbox for side-by-side layout */
            justify-content: space-between; /* Space between the boxes */
            margin: 20px 0; /* Add some margin for spacing */
        }
        
        .box {
            border: 1px solid #2E8B57; /* Green border */
            border-radius: 5px; /* Slightly rounded corners */
            padding: 15px; /* Add padding inside the box */
            width: 48%; /* Set width of the box */
        }

        p {
            font-size: 15px;
            margin-bottom: 10px; /* Spacing between paragraphs */
        }

        /* Additional styling for links */
        a {
            color: #2E8B57; /* Link color */
        }
    </style>
</head>

<body>

    <h3>VADEMOS <br> Vaccine Demand Estimation Model for foot-and-mouth disease </h3>
    <p>VADEMOS is a decision-support tool that estimates the number of vaccine doses needed for foot-and-mouth disease control at a national and regional levels. It aims to bridge the gap between FMD vaccine supply and demand in endemic countries.  
        It is a deterministic quantitative model that predicts vaccine dose demand based on several key factors. These include livestock population forecasts, disease control policies related to the projected Foot-and-Mouth Disease (FMD) Progressive Control Pathway (PCP) stage, and vaccination schedules according to age demographics. For emergency vaccination, the model utilizes density data alongside population predictions and user inputs regarding a specified radius. VADEMOS uses a range of inputs, which are summarised below: </p>
    <div class="container">
        <div class="box">
            <strong>Prophylactic vaccination dose estimate</strong>
            <p>Prophylactic or routine vaccination campaigns are designed to prevent future disease within a livestock population. VADEMOS predicts the number of doses needed annually. The inputs for this are:</p>
            <ul>
                <li>Geographical area;</li>
                <li>Livestock population;</li>
                <li>Livestock species vaccinated;</li>
                <li>Livestock population density;</li>
                <li>Vaccination schedule for youngstock and adults, considering primary vaccination schedule and vaccination frequency;</li>
                <li>Proportion of total livestock covered with prophylactic vaccination based on the PCP-FMD stage.</li>
            </ul>
        </div>

        <div class="box">
            <strong>Emergency vaccination dose estimate</strong>
            <p>Emergency vaccination will occur in response to a specific outbreak of FMD, within a specified areas around the outbreak location in order to prevent further transmission. VADEMOS predicts the number of doses needed annually. The inputs for this are:</p>
            <ul>
                <li>Geographical area;</li>
                <li>Livestock population;</li>
                <li>Livestock species vaccinated;</li>
                <li>Livestock population density;</li>
                <li>The area of vaccination surrounding the outbreak within which animals are vaccinated;</li>
                <li>Number of outbreaks that will require control based on PCP stage.</li>
            </ul>
        </div>
    </div>

    <p><strong>Data Sources</strong></p>
<p><strong>Population data:</strong> FAO. 2024. FAOSTAT Statistical Database. Food and Agriculture Organization of the United Nations. Available at: <a href="https://www.fao.org/faostat/en/">https://www.fao.org/faostat/en/</a></p>
<p><strong>Outbreak data:</strong> WOAH. 2024. World Animal Health Information System (WAHIS). World Organisation for Animal Health. Available at: <a href="https://www.woah.org/en/what-we-do/animal-health-and-welfare/disease-data-collection/world-animal-health-information-system/">https://www.woah.org/en/what-we-do/animal-health-and-welfare/disease-data-collection/world-animal-health-information-system/</a></p>
<p><strong>Livestock density data:</strong> FAO. 2024. Gridded Livestock of the World (GLW) 4: Gridded Livestock Density (Global - 2020 - 10 km). Food and Agriculture Organization of the United Nations. Available at: <a href="https://data.apps.fao.org/catalog/dataset/15f8c56c-5499-45d5-bd89-59ef6c026704">https://data.apps.fao.org/catalog/dataset/15f8c56c-5499-45d5-bd89-59ef6c026704</a></p>
<p><strong>PCP-FMD stage: </strong> EuFMD. 2024. PCP-FMD dashboard. Available at: <a href=https://tableau.apps.fao.org/views/PCP/PCPDASHBOARD?%3Aembed=y&%3Aiid=5&%3AisGuestRedirectFromVizportal=y>https://tableau.apps.fao.org/views/PCP/PCPDASHBOARD?%3Aembed=y&%3Aiid=5&%3AisGuestRedirectFromVizportal=y</a></p>

<p>A more detailed explanation of VADEMOS parameters is available at the “parameters” tab at the top of this page.<p> 

    <p>Full details about the model, including distributions used for each parameter, will be available to download from this site within the near future. Meanwhile, for more detailed information, please get in touch: eufmd@fao.org.</p>

    <p><i style="color:rgb(8, 156, 99)">This tool is a simulation model that has been developed by the EuFMD under its 2019-2023 workplan as part of Pillar III, Component 3.4.</i></p>
    
    <p>
        <a href="https://www.fao.org/contact-us/terms/db-terms-of-use/en">Statistical Database Terms of Use</a><br>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/igo/88x31.png" /></a><br />
        <i>This work is made available under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO license (CC BY-NC-SA 3.0 IGO; <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/">https://creativecommons.org/licenses/by-nc-sa/3.0/igo</a>). In addition to this license, some database specific terms of use are listed: Terms of Use of Datasets.</i>
    </p>

</body>
</html>

