<html>
<head>
<title>Help</title>
</head>
<body>
<br>
<p style="font-size:15px">
<h4><b>STEP 2</b></h4>
<h5><b>Vaccination schedules</b></h5>
In this section you can select the number of vaccine doses given annually by livestock category (large ruminants, small ruminants and pigs) and age group (youngstock or adults). You may wish to adjust this if you are using a single dose strategy or if your youngstock require a primary vaccination course.

<br><br>
<p><strong>*Large ruminants</strong> are cattle, buffalo and camels</p>
<p><strong>*Small ruminants</strong> are sheep and goats</p>
<p><sup>1</sup><strong>Youngstock</strong> are animals under one year.</p>
<br>
<h5><b>Population proportion of youngstock</b></h5>
Here you can select the proportion of youngstock in the population for large ruminants, small ruminants and pigs by dragging the  
cursor to the correct value. 
<br><br>




<p style="font-size:15px">
    <a href="https://www.fao.org/contact-us/terms/db-terms-of-use/en">Statistical Database Terms of Use</a>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/"><img title="This work is made available under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO license (CC BY-NC-SA 3.0 IGO; https://creativecommons.org/licenses/by-nc-sa/3.0/igo). In addition to this license, some database specific terms of use are listed: Terms of Use of Datasets." style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/igo/88x31.png"></a>
</p>

</body>
</html>
