<html>
<head>
<title>Help</title>
</head>
<body>
<br>

<h4>Results</h4>

<h4><b>Results table - prophylactic vaccination</b></h4>
<p>The results table provides detailed information on the predicted vaccination doses for each of the countries, years and species selected. 
The “Prophylactic Vaccination (doses)” column represents the total dose requirement estimated for that country, species and year, with other columns providing information about the split between youngstock and adults, population and vaccination schedules and coverage.  </p>

<h4><b>Map view and emergency vaccination</b></h4>
<p>When you click on "See Map", you will see how the population of the species selected are distributed according to regional livestock density in each administrative region. This allows VADEMOs to calculate the emergency vaccine dose requirements within each administrative region, 
based on predicted livestock density and the radius selected.</p>  
<p>This value is calculated based on the number of doses of vaccine required for a single outbreak based on the selected parameters. 
It can then be multiplied by the number of outbreaks that the user predicts will occur in the time period and area under question. 
When you click on a region of the map, the following information is available, in addition to the country, species and year selected: </p>
<ul> 
<li><strong>ADM1_Name</strong>: This is the name of the administrative region within the country.</li>
<li><strong>Density</strong>: This is the percentage of the country's total population of the species selected in the specified administrative region.</li>
<li><strong>Head_km²</strong>: This is the number of livestock per square kilometre in the administrative region, derived from Gridded Livestock of the World (GLW) data. </li>
<li><strong>Prophylactic Vaccination (doses)</strong>: This is the number of vaccine doses required for a prophylactic vaccination programme for the species and administrative region selected, 
taking into account the input parameters selected by the user on the previous page. </li>
<li><strong>Emergency Vaccination (doses)</strong>: This is the number of vaccine doses required for ring vaccination around one outbreak for the species and administrative region selected, 
as described above.</li>
</ul>


<p>If you click "See full table" a table will appear with this information for all of the administrative regions selected. This table can be downloaded using the buttons on the top left hand side. 
    You can use the search function to search within the table for specific regions or species.</p> 

<br><br>

<p style="font-size:15px">
<a href="https://www.fao.org/contact-us/terms/db-terms-of-use/en">Statistical Database Terms of Use</a>
<br>
<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/"><img title="This work is made available under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO license (CC BY-NC-SA 3.0 IGO; https://creativecommons.org/licenses/by-nc-sa/3.0/igo). In addition to this license, some database specific terms of use are listed: Terms of Use of Datasets." style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/igo/88x31.png"></a>
</p>

</body>
</html>
