<html>
<head>
<title>Help</title>
</head>
<body>
<br>
<p style="font-size:15px">
<h4><b>STEP 3</b></h4> FDM-PCP dependent coverage default values were defined by the Delphi round. Details on the about section. 

<br><br>Select the PCP-FMD stage that most accurately describes the country or region that you selected in step one. Details about the methodology for this are described in the “Parameters” section. The first row describes the percentage of the livestock population that will be covered by routine prophylactic vaccination in the dose estimate produced by the model.

<br>
Note that the selected coverage will be applied to all countries and years in the selection.
<br><br>

<b>FMD-PCP stage </b> The Table displays current FMD-PCP stage.
</b>
The Graph represents the FMD-PCP progression for the selected countries. 
<br><br>


<p style="font-size:15px">
    <a href="https://www.fao.org/contact-us/terms/db-terms-of-use/en">Statistical Database Terms of Use</a>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/"><img title="This work is made available under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO license (CC BY-NC-SA 3.0 IGO; https://creativecommons.org/licenses/by-nc-sa/3.0/igo). In addition to this license, some database specific terms of use are listed: Terms of Use of Datasets." style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/igo/88x31.png"></a>
</p>

</body>
</html>
