<html>
<head>
<title>Help</title>
</head>
<body>
<br>
<p style="font-size:15px; text-align: justify">Welcome to VADEMOS, Vaccine Demand Estimation Model for foot-and-mouth disease. 
<br>
This tool will generate default input values for the countries and years that you select. There are opportunities to modify these values as you progress through the tool, particularly if you have more up-to-date national data. There are also opportunities within the tool to simulate different control strategies and livestock population demographics if required.
<br><br>
Click on each section's "Help" button to get details at each step.<br><br>
<br>


<p style="font-size:15px">
    <a href="https://www.fao.org/contact-us/terms/db-terms-of-use/en">Statistical Database Terms of Use</a>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/"><img title="This work is made available under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO license (CC BY-NC-SA 3.0 IGO; https://creativecommons.org/licenses/by-nc-sa/3.0/igo). In addition to this license, some database specific terms of use are listed: Terms of Use of Datasets." style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/igo/88x31.png"></a>
</p>

</body>
</html>
