<html>
<head>
<title>Help</title>
</head>
<body>
<br>
<p style="font-size:15px">
<h4><b>STEP 1</b></h4>
Please select one or more regions, subregions, countries, species, and years. In each selector, you can choose multiple options, select all, or deselect as needed.
<br><br>
Based on your selection, a population prediction will be made for each country and specie combination using the AutoEnsemble collection of models and data from 1960 to 2023 from FAO Stats. <span style=‘font-size: smaller;’>For more details about the methodology, please refer to the About section.</span>
<br><br>
The table presents the forecasted values, confidence intervals (CI), the model selected for the population prediction, and a flag. If no model was able to predict within the CI or if there were not enough observations, the last value from the 2023 FAOSTAT will be used. This information can be found in the column "Predicted: Model vs LastValue," and the flag column provides details on any issues encountered with the process. <br><br>
<br>
<p style="font-size:15px">
    <a href="https://www.fao.org/contact-us/terms/db-terms-of-use/en">Statistical Database Terms of Use</a>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/"><img title="This work is made available under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO license (CC BY-NC-SA 3.0 IGO; https://creativecommons.org/licenses/by-nc-sa/3.0/igo). In addition to this license, some database specific terms of use are listed: Terms of Use of Datasets." style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/igo/88x31.png"></a>
</p>

</body>
</html>