<html>
<head>
<title>Help</title>
</head>
<body>
<br>
<p style="font-size:15px">
<h4><b>STEP 3</b></h4> FDM-PCP dependent coverage default values were defined by the Delphi round. Details on the about section. 

<br><br>Press on each FMD-PCP stage to see the expected coverage at each FDM-PCP Stage. Select the expected FMD-PCP stage and modify coverage as needed.
<br>
Note that the selected coverage will be applied to all countries in the selection.
<br><br>

<b>FMD-PCP stage </b> The Table displays current FMD-PCP stage.
</b>
The Graph represents the FMD-PCP progression for the selected countries. 
<br><br>


<p style="font-size:15px">
    <a href="https://www.fao.org/contact-us/terms/db-terms-of-use/en">Statistical Database Terms of Use</a>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/"><img title="This work is made available under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO license (CC BY-NC-SA 3.0 IGO; https://creativecommons.org/licenses/by-nc-sa/3.0/igo). In addition to this license, some database specific terms of use are listed: Terms of Use of Datasets." style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/igo/88x31.png"></a>
</p>

</body>
</html>
