<html>
<head>
<title>Help</title>
</head>
<body>
<br>
<p style="font-size:15px">
<h4><b>STEP 2</b></h4>
<h5><b>FMD Vaccination schedules</b></h5>
This is the number of vaccine doses the selected country would typically give for each livestock category and age group (young stock or adult stock). You may wish to adjust this if you are using a single dose strategy or if your youngstock require a primary vaccination course.
<h5><b>Population Proportion of Youngstock</b></h5>
This is the proportion of youngstock for large ruminants*, small ruminants** and pigs.
<br><br>
Drag the cursor to change. Note: these proportions are only applicable to that species so it does not need to equal 100%. 
<br><br>
<p><strong>*Large ruminants</strong> = cattle, asses, camels, horses, buffalo and other cameloids</p>
<p><strong>*Small ruminants</strong> = sheep & goats</p>
<p><sup>1</sup><strong>Youngstock</strong> are those animals which are below 1 year of age.</p>
<br>


<p style="font-size:15px">
    <a href="https://www.fao.org/contact-us/terms/db-terms-of-use/en">Statistical Database Terms of Use</a>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/"><img title="This work is made available under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO license (CC BY-NC-SA 3.0 IGO; https://creativecommons.org/licenses/by-nc-sa/3.0/igo). In addition to this license, some database specific terms of use are listed: Terms of Use of Datasets." style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/igo/88x31.png"></a>
</p>

</body>
</html>
