<html>
<head>
<title>Help</title>
</head>
<body>
<br>
<p style="font-size:15px">
<h4>STEP 4</h4>

<h5><b>VaccinationArea</b></h5>
This is the radius (in km) of emergency vaccination area. Livestock are vaccinated if they are within 10km2 of an outbreak, as recommended by the EU directive 2003/85/EC. Adjust with the slider to modify this value. 
<br><br>

<h5><b>Outbreaks</b></h5>
Previous FMD outbreak numbers were collated from WOAH WAHIS and national statistical databases.Table provides information on average outbreaks and cases for the available data.

<br>
Note: outbreak data is based on in country reporting and data collection, countries in lower PCP stages are therefore less likely to have as much FMD surveillance as those in the higher stages.  
<br><br>



<p style="font-size:15px">
    <a href="https://www.fao.org/contact-us/terms/db-terms-of-use/en">Statistical Database Terms of Use</a>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/"><img title="This work is made available under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO license (CC BY-NC-SA 3.0 IGO; https://creativecommons.org/licenses/by-nc-sa/3.0/igo). In addition to this license, some database specific terms of use are listed: Terms of Use of Datasets." style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/igo/88x31.png"></a>
</p>

</body>
</html>
