<html>
<head>
<title>Help</title>
</head>
<body>
<br>
<p style="font-size:15px">
<h4>STEP 4</h4>

<h5><b>VaccinationArea</b></h5>
Here you can provide information about the response to an outbreak of FMD. You are able to input the radius within which an emergency vaccination programme will be initiated. The default is a radius of 10km, you can use the slider to adjust this.  
<br><br>

<h5><b>Outbreaks</b></h5>
Outbreak data are collated from the WAHIS as described in the parameters tab. 


<br>
Note: outbreak data is based on in country reporting and data collection, countries in lower PCP stages are therefore less likely to have as much FMD surveillance as those in the higher stages.  
<br><br>



<p style="font-size:15px">
    <a href="https://www.fao.org/contact-us/terms/db-terms-of-use/en">Statistical Database Terms of Use</a>
    <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/igo/"><img title="This work is made available under the Creative Commons Attribution-NonCommercial-ShareAlike 3.0 IGO license (CC BY-NC-SA 3.0 IGO; https://creativecommons.org/licenses/by-nc-sa/3.0/igo). In addition to this license, some database specific terms of use are listed: Terms of Use of Datasets." style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/3.0/igo/88x31.png"></a>
</p>

</body>
</html>
